<!-- Bootstrap JS -->
<script src="../../../admin/assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="../../admin/assets/js/jquery.min.js"></script>
<script src="../../admin/assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="../../admin/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="../../admin/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="../../admin/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="../../admin/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="../../admin/assets/plugins/chartjs/js/Chart.min.js"></script>
<script src="../../admin/assets/plugins/chartjs/js/Chart.extension.js"></script>
<script src="../../admin/assets/js/index.js"></script>
<script src="../../assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="../../assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>

<!--app JS-->
<script src="../../admin/assets/js/app.js"></script>

<!-- sweet Alerts -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>


<!-- Mirrored from codervent.com/rocker/demo/vertical/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 Feb 2022 14:06:51 GMT -->

</html>